.mymssg {
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 6.25rem;
  background-color: pink;
  .mymssg_img {
    width: 25%;
    margin-left: 10px;
    .img_icon {
      font-size: 30px;
    }
  }
  .mymssg_name {
    width: 65%;
    .name_a {
      font-weight: 600;
      font-size: 20px;
    }
    .name_b {
      display: flex;
      margin-top: 10px;
      .b_text {
        margin-left: 5px;
        font-size: 15px;
      }
    }
  }
  .mymssg_right {
    width: 10%;
  }
}
