.nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 15px;
  .left {
    width: 30%;
  }
  .centre {
    font-weight: 600;
    width: 40%;
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; //溢出不换行
  }
  .right {
    width: 30%;
    font-size: 14px;
  }
}
